<!-- Header -->
{% assign basePath = '' %}
{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if    depth == 0 %}{% assign basePath = '.' %}
{% elsif depth == 1 %}{% assign basePath = '..' %}
{% elsif depth == 2 %}{% assign basePath = '../..' %}
{% elsif depth == 3 %}{% assign basePath = '../../..' %}
{% elsif depth == 4 %}{% assign basePath = '../../../..' %}
{% endif %}

{% if depth == -1 or depth == 1 and page.lang == site.default_lang %}{% assign linkPath = basePath %}
{% else %}{% capture linkPath %}{{ basePath }}/langs/{{page.lang}}{% endcapture %}
{% endif %}

{% assign langCodes = site.lang_codes %}
{% if pageLangCodes %}{% assign langCodes = pageLangCodes %}
{% endif %}
 
<header class="navbar  mincoin-header" role="banner">
  <div class="container">
    <div class="navbar-header col-xs-5">
     <!-- <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse"> 
      	<span class="sr-only">Toggle navigation</span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
      </button> -->
      <a href="{{ site.baseurl }}/index.html" class="navbar-brand col-md-7">
      	<img src="{{ site.logo }}" alt="Boxupp Blog" class="img-responsive"><!--{{site.name}} -->
      </a> 
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse pull-right" role="navigation">     
       <ul class="nav navbar-nav">
      {% for p in site.navigation %}
        <li {% if p.url == page.url %}class="active"{% endif %} >
          <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
        </li>
      {% endfor %}
    </ul>
      
      
    </nav>
	<div class="social-icon pull-right">
		<ul>
			{% for social in langPath.socialicon %}
				<li><a href="{{ social.url }}" target="_blank"><i class="{{ social.icon }}"></i></a> </li>
			{% endfor %}
		</ul>
	</div>
	<div class=" navbar-collapse pull-right langs-dropdown" id="bs-slide-dropdown">
        <ul class="nav navbar-nav">           
        	<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{langPath.lang_name}}  <span class="caret"></span></a>				
			  <ul class="dropdown-menu" role="menu">
				{% for lang in langCodes %}
				{% if lang != page.lang %}
				  <li>
					<a href="{{basePath}}/langs/{{lang}}/{{pageName}}">{{site.langs[lang]}}</a>
				  </li>
				{% endif %}
			  {% endfor %}              
			 </ul>                
            </li>
        </ul>
		</div>
  
  </div>
</header>
