      <!-- Post Header -->
      <header>
        <h2>{{ page.title  }}</h2>
        {% if page.images %}
        <div class="bs-example">
          <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel"> 
            
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              {% for img in page.images %}
              <li data-target="#myCarousel" data-slide-to="forloop.index" class="{% if forloop.index  == 1 %} active {% endif %}"></li>
              {% endfor %}
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner"> {% for img in page.images %}
              <div class="item {% if forloop.index  == 1 %} active {% endif %} "> <img src="{{site.baseurl}}/media/{{img.path}}" alt="{{img.alt }}" img-responsive>
                <div class="carousel-caption">
                  <h3>{{img.title }}</h3>
                  <p>{{img.caption }} </p>
                </div>
              </div>
              {% endfor %} </div>
            <!-- Carousel nav --> 
            <a class="carousel-control left" href="#myCarousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="carousel-control right" href="#myCarousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a> </div>
        </div>
        {% endif %}
        <div class="meta-info">
		<span class="meta">
        <time class="timeago postlist-meta" datetime="{{ post.date | date: "%Y-%m-%d" }}"><i class="fa fa-calendar"></i>{{ page.date | date: "%B %-d, %Y" }}</time></span>
        
        {% if page.tags and page.tags.size > 0 %}
  <div class="tags"> Tagged:
    {% for tag in page.tags %} <span><i class="fa fa-tag"></i>{{ tag }}</span> {% endfor %} 
  </div>
  {% endif %}
     
	</div>

      </header>